<!DOCTYPE html>
<html ng-app='myApp'>
<head>
    <meta charset="UTF-8">
    <title>Aleksandra Hoffman</title>
    <script type="text/javascript" src="libs/angular.js"></script>
    <script type="text/javascript" src="libs/angular-route.min.js"></script>
    <script type="text/javascript" src="libs/jQuery.js"></script>
    <script type="text/javascript" src="libs/FileSaver.min.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/git.js"></script>
    <!--<script type="text/javascript">-->
    <!--$(function() {-->
    <!--$("#my-github-projects").loadRepositories("X-Formation");-->
    <!--});-->
    <!--</script>-->

    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
</head>

<body ng-controller="TestController">
<div class="container">
    <div class="naglowek">
        <h1>Recruitment test - Aleksandra Hoffman</h1>
    </div>
    <div class="srodek">
        <div class="row">
            <div class="col-sm-2">
                <a class="btn btn-default btn-lg" href="#/contributors" ng-click="getMyUser('file/contributors.json')">Contributors
                    <small>(list)</small>
                </a>
            </div>
            <div class="col-sm-3">
                <a class="btn btn-default btn-lg" href="#/contributorsTable"
                   ng-click="getMyUser('file/contributors.json')">Contributors
                    <small>(table)</small>
                </a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-default btn-lg" href="#/repositories" ng-click="getMyRepo('file/repositories.json')">Repositories
                    <small>(list)</small>
                </a>
            </div>
            <div class="col-sm-3">
                <a class="btn btn-default btn-lg" href="#/repositoriesTable"
                   ng-click="getMyRepo('file/repositories.json')">Repositories
                    <small>(table)</small>
                </a>
            </div>
            <div class="col-sm-1">
                <a class="btn btn-default btn-lg" href="page/SpecRunner.html">Unit test</a>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div ng-view></div>
        </div>
    </div>
    <div class="stopka">Aleksandra Hoffman© 2016</div>
</div>
</body>
</html>